@import "../variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,100&family=Roboto:ital,wght@0,400;1,300&family=Source+Sans+Pro:wght@200&family=Staatliches&display=swap');



.formbuy-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    height: auto;
   
}
.formbuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 25.5rem;
    height: 35.375rem;
    padding: 1.5rem;

    border: 0;
    border: 2px solid #fff ;
    border-width: 5px;
    border-radius: 12px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
 
    // linear-gradient(0deg, rgba(100, 97, 97, 0.26), rgba(122, 71, 71, 0.26)), linear-gradient(359.03deg, #DBFA6E 25.21%, rgba(255, 255, 255, 0) 91.38%), #86FB7C;
 
}
.formbuy__title {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.437rem;
        color: rgb(0, 0, 0);
    }
}
.formbuy__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
    height: auto;

}
.formbuy__info--inputs {
    width: 18.32rem;
    p {
        font-size: 0.7rem;
        color: rgb(0, 0, 0);
    }

}

.input__field__buy {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $base-verde ;
    border-image: linear-gradient(50deg, $base-verde, $base-amarillo 135%);
    border-image-slice: 1;  


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: transparent;
    outline: 0;

    padding: 0.5rem 0.5rem;
    color: rgb(0, 0, 0);

    &::placeholder {
        color: rgb(0, 0, 0);
    }
}
.input__field__buy:focus {
    &::placeholder {
        font-size: 1.05rem;
        font-weight: 500;
    }
}
.formbuy__send {
    width: 12.32rem;
    height: auto;
}
.formbuy__send--button > a:hover, a:visited, a:link, a:active {
    font-family: 'Montserrat', sans-serif;
}

.formbuy__sign {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
    p {
        margin: 0;
    }
    a {
        color: $base-gris;
        font-weight: 600;
    }


}

.formbuy-btn {
    width: 12.32rem;
    height: 2.15rem;
    padding: 0.3rem 0.45rem 0.5rem 0.5rem;
    margin: 1rem 0;

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #ffffff;

    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
    
    &:hover {
        color: #FFF;
        background:  linear-gradient(50deg, $base-verde, $base-amarillo 135%);
        font-weight: 600;
    }
}