/* 
    General Styles
*/
@import './variables.scss';
@import './components/NavBar';
@import './views/Home';
@import './components/SignUpBtn';
@import './components/Footer';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-parrafo;
}